{% extends "layout1.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
  <div class="row myrow">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation">
          <a href="#myTab1" role="tab" data-toggle="tab" aria-controls="myTab1" aria-expanded="true">
            OLT单主控
          </a>
        </li>
        <li role="presentation">
          <a href="#myTab2" role="tab" data-toggle="tab" aria-controls="myTab2">
            OLT电源隐患
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="myTab1" class="tab-pane" role="tabpanel">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>属地</th>
                <th>设备名称</th>
                <th>设备IP</th>
              </tr>
            </thead>
            <tbody>
              {% for p in singleMainCard %}
              <tr>
                <td>{{p['area']}}</td>
                <td>{{p['name']}}</td>
                <td>{{p['ip']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div id="myTab2" class="tab-pane" role="tabpanel">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>属地</th>
                <th>设备名称</th>
                <th>设备IP</th>
              </tr>
            </thead>
            <tbody>
              {% for p in powerInfo %}
              <tr>
                <td>{{p['area']}}</td>
                <td>{{p['name']}}</td>
                <td>{{p['ip']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>


      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
{% endblock %}
